<p-tabView>
  <p-tabPanel header="Register">
    <div class="panel-container">
      <div class="items-container">
        <h2 class="register-header">
          <div class="item-column">Item</div>
          <div>Qty</div>
        </h2>
        <ul class="items-list">
          <li class="item" *ngFor="let item of items">
            <div class="item-name">
              <p-button
                icon="pi pi-times"
                (click)="deleteItem(item.id)"
                class="x-button"
                severity="danger"
              />
              <div>{{ item.name }}</div>
            </div>
            <div>{{ item.qty }}</div>
          </li>
        </ul>
      </div>
      <div class="buttons-container">
        <p-button label="Clear" severity="danger" (onClick)="clearItems()" />
        <p-button label="Checkout" severity="help" (onClick)="clearItems()" />
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Settings">
    <p>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
      doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
      inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
      Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
      fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
      sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius
      modi.
    </p>
  </p-tabPanel>
  <p-tabPanel header="Profile">
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
      praesentium voluptatum deleniti atque corrupti quos dolores et quas
      molestias excepturi sint occaecati cupiditate non provident, similique
      sunt in culpa qui officia deserunt mollitia animi, id est laborum et
      dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
      Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
      impedit quo minus.
    </p>
  </p-tabPanel>
</p-tabView>
