<p-tabView>
  <ng-container *ngFor="let category of itemCategories">
    <p-tabPanel [header]="category.name">
      <ng-template pTemplate="header">
        <div class="header-container">
          <p-avatar
            [image]="category.img"
            alt="Produce"
            shape="circle"
            size="large"
          />
          <span class="font-bold white-space-nowrap m-0">
            {{ category.name }}
          </span>
        </div>
      </ng-template>
      <div class="items-container">
        <ng-container *ngFor="let item of category.items">
          <p-button>
            <div class="item-container">
              <p-image height="75" width="75" [src]="item.img" />
              <span class="font-bold white-space-nowrap m-0">
                {{ item.name }}
              </span>
            </div>
          </p-button>
        </ng-container>
      </div>
    </p-tabPanel>
  </ng-container>

  <!-- <p-tabPanel class="tab-panel">
      <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2">
          <span class="font-bold white-space-nowrap m-0"> Amy Elsner </span>
        </div>
      </ng-template>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    </p-tabPanel> -->
  <!-- <p-tabPanel header="Header II">
      <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2">
          <p-avatar
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
            shape="circle"
          />
          <span class="font-bold white-space-nowrap m-0"> Onyama Limba </span>
        </div>
      </ng-template>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium...
      </p>
    </p-tabPanel>
    <p-tabPanel header="Header III">
      <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2">
          <p-avatar
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png"
            shape="circle"
          />
          <span class="font-bold white-space-nowrap m-0"> Ioni Bowcher </span>
          <p-badge value="2" />
        </div>
      </ng-template>
      <p>At vero eos et accusamus et iusto odio dignissimos...</p>
    </p-tabPanel> -->
</p-tabView>
